<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trips</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>All Trips</h1>
    <% for (let oneTrip of trips){ %>
    
        <p><%= oneTrip.title %></p>
        <p><%= oneTrip.photo %></p>

        <a href="/trip/<%= oneTrip._id %>" class="aLink">Show Trip details</a>
    <% } %>    
</body>
</html>