<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trips</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/navbar') %>
     <div class="backLink">
        <a href="/home" class="aBack">> Back</a>
    </div>
    <h1>All Trips</h1>

      <% if(trips.length === 0){ %>
        <p>There is no trips - Plan your First Trip!</p>
        <a href="/trip/new" class="aLink">Add New Trip</a>
    <%} else {%>
   
    
    <div class="card-container">
    <div class="cardDisplay">
    <% for (let oneTrip of trips){ %>
    
        <div class="card">
        <p><%= oneTrip.title %></p>
        </div>

        <div class="cardLink">
        <a href="/trip/<%= oneTrip._id %>" class="aLink">Show Trip details</a>
        </div>
    <% } %>  
    <%}%>

    </div>  
    </div>
</body>
</html>