<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateTrip</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>Create New Trip!</h1>

    <div class="forms">
    <form action="/trip/new" method="post">

        <label for="title">Trip Title:</label>
        <input type="text" name="title" id="title">

        <label for="startDate">Trip Start Date:</label>
        <input type="date" name="startDate" id="startDate">

        <label for="endDate">Trip End Date:</label>
        <input type="date" name="endDate" id="endDate">

        <label for="photo">Photo:</label>
        <input type="text" name="photo" id="photo">

        <button type="submit" class="btnSubmit">Create Trip</button>
    </form>
    </div>
</body>
</html>