<nav>
    
    <% if (user){ %>
    <a href="/home" class="aLink">Homepage</a>
    <a href="/trip" class="aLink">All Trips</a>
    <a href="/destination" class="aLink">All Destinations</a>
    <a href="/auth/sign-out" class="aLink">Logout</a>


    <% } else{ %>
    <a href="/auth/sign-up" class="aLink">Sign up</a>
    <a href="/auth/sign-in" class="aLink">Login</a>

    <% } %>
    
</nav>
