<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body id="homeBody">

    <h1>Where you can plan all Your Trips </h1>
    <a href="/auth/sign-up" id="aLinkPlan">Plan Now</a>
</body>
</html>