<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include ('./partials/navbar')%>
<h1> <%= user.username %>'s Trip Planner </h1>
<p>— let’s plan your next trip -</p>

<a href="/trip/new" class="aLink">Create Trip</a>
<a href="/destination/new" class="aLink">Create New Destination</a>
</body>
</html>