@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuyu&display=swap');

nav{
    background-color: rgb(92, 111, 73);
    padding: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    gap: 7px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);

}
.aLink{
    text-decoration: none;
    background-color: rgb(92, 111, 73);
    border: 2px solid rgba(249, 241, 218, 0.35);
    border-style: dashed;
    border-radius: 15px;
    color: #F9F1DA;
    padding: 5px 13px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: "Yuyu", sans-serif;
    font-size: 20px;
    transition: transform 0.10s ease, background-color 0.10s ease, color 0.10s ease;
}

.aLink:hover{
    cursor: pointer;
    background-color: #c6ba96;
    color: rgb(62, 74, 48);
}

#aLinkPlan{
    display: inline-block;
    text-decoration: none;
    background-color: #c6ba96;
    border: rgb(92, 111, 73) solid 2px;
    border-radius: 30px 5px 30px 5px;
    color: rgb(93, 112, 73);
    padding: 10px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: "Yuyu", sans-serif;
    font-size: 20px;
    height: 20px;
    width: 90px;
    margin-top: 20px;
    transition: transform 0.10s ease, background-color 0.10s ease, color 0.10s ease;

}

#aLinkPlan:hover{
    cursor: pointer;
    background-color: #f9f1dac1;
    color: #c6ba96;
    border: #c6ba96 solid 2px;
}

.aBack{
    text-decoration: none;
    font-family: "Yuyu", sans-serif;
    font-size: 30px;
    color: rgb(93, 112, 73);
}

.backLink{
    display: flex;
    margin: 20px  18px;
}

#cost{
    font-family: "Merriweather", serif;
    font-size: 15px;
}

body{
    margin: 0;
    background-color: #F9F1DA;
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 700;
    color: rgb(93, 112, 73);
}

body h1{
    font-family: "Yuyu", sans-serif;
    font-size: 44px;
    font-weight: 300;
}

body p{
    font-family: "Yuyu", sans-serif;
    font-size: 20px;
}

.pStyle{
    font-family: "Yuyu", cursive;
    font-size: 23px;
    font-weight: 200;
}
#homeBody{
    margin: 0;
    background-color: #FDF8F2;
    background-image:  url('../images/Homedesign.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#homeBody h1{
    font-family: "Yuyu", sans-serif;
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 30px;
    margin-top: 100px;
    color: rgb(93, 112, 73);
}



.forms {
    background-color: rgba(93, 112, 73, 0.384);
    border: 2px  rgba(93, 112, 73, 0.605);
    border-style: dashed ;
    border-radius: 30px 5px 30px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    justify-content: center;
    padding: 30px;
    margin: 30px auto;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);

}

.forms input{
    background-color: rgb(93, 112, 73);
    border: none;
    border-radius: 10px;
    font-family: "Merriweather", serif;
    color: #FDF8F2;
    display: flex;
    margin: 6px 0 12px;
    padding: 5px 8px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
}

.forms input:hover{
    border: none;
    cursor: pointer;
    background-color: #c6ba96;
}



.forms label{
    display: flex;
    color: #FDF8F2;
    font-size: 20px;
    font-weight: 600;
    font-family: "Yuyu", sans-serif;
    text-align: left;
    margin: 8px 2px ;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
}

.forms select {
    background-color: rgb(93, 112, 73);
    border: none;
    border-radius: 10px;
    font-family: "Merriweather", serif;
    color: #FDF8F2;
    display: flex;
    margin: 6px 0 12px;
    padding: 5px 8px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
}

.forms select:hover{
    border: none;
    cursor: pointer;
    background-color: #c6ba96;
}

.btnSubmit{
    text-decoration: none;
    background-color: #c6ba96;
    border: rgb(92, 111, 73) solid 2px;
    border-radius: 30px 5px 30px 5px;
    color: rgb(93, 112, 73);
    margin: 15px;
    padding: 8px 14px;
    height: auto;
    width: auto;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: "Yuyu", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.btnSubmit:hover{
    cursor: pointer;
    background-color: rgba(93, 112, 73, 0.605);
    color: #c6ba96;
    border: #c6ba96;
}

#photoTrip {
    width: 400px;
    height: 300px;
    border-radius:  40px 6px 40px 6px;
    padding: 10px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);


}

.date{
    font-family: "Yuyu", sans-serif;
    font-size: 30px;
}

.dateString{
    font-size: medium;
}

.editAndDelete{
    display: flex;
    justify-content:center;
    gap: 15ptex;
    margin: 30px;

}


.showLinks{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.tripDetail{
    font-size: 30px;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardDisplay{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 25px;
}
.card{
    background-color: #f9ebcc;
    border: 2px  rgba(93, 112, 73, 0.605);
    border-style: dashed;
    border-radius: 30px 5px 30px 5px;
    padding: 15px 20px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
    height: auto;

}
.card p{
    font-family: "Yuyu", sans-serif;
    font-size: 20px;
}
.cardLink{
 display: flex;
 flex-direction: column;  


}