<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Booking</title>
</head>
<body>
    <h1>New Booking!</h1>
    <form action="/trip/<%= currentTrip %>/booking/new" method="post">


        <label for="type">Booking Type:</label>

        <select name="type" id="type">
            <option value="Flight">Flight</option>
            <option value="Hotel">Hotel</option>
            <option value="Restaurant">Restaurant</option>
        </select>


        <label for="cost">Cost$:</label>
        <input type="number" name="cost" id="cost">

        <label for="date">Date:</label>
        <input type="date" name="date" id="date">

        <label for="trip">Trip:</label>
        <select name="trip" id="trip">
            <% for (let oneTrip of trips){ %>
                <option value="<%= oneTrip._id %>" <% if (currentTrip.toString() === oneTrip._id.toString()) { %>
                    selected
                    <%}%>
                    ><%= oneTrip.title %>
            </option>
            <% } %>
        </select>
      
       <button type="submit">Add Booking</button>
    </form>
</body>
</html>