<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Booking</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include ('../partials/navbar')%>
    <h1>New Booking!</h1>

    <div class="forms">
    <form action="/trip/<%= currentTrip %>/booking/new" method="post">


        <label for="type">Booking Type:</label>

        <select name="type" id="type">
            <option value="Flight">Flight</option>
            <option value="Hotel">Hotel</option>
            <option value="Restaurant">Restaurant</option>
        </select>


        <label for="cost">Cost$:</label>
        <input type="number" name="cost" id="cost">

        <label for="date">Date:</label>
        <input type="date" name="date" id="date">
      
        <input type="hidden" name="trip" value="<%= currentTrip %>">

       <button type="submit" class="btnSubmit">Add Booking</button>
    </form>
    </div>
</body>
</html>